transformers/se_tpb_dtbinfo/localizations/localization.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2007 (http://www.altova.com)-->
<!ELEMENT then (#PCDATA | insert | test | tests)*>
<!ELEMENT else (#PCDATA | insert | test | tests)*>
<!ELEMENT tests (if, then, else?)>
<!ELEMENT test (#PCDATA | insert | test | tests)*>
<!ATTLIST test
	high CDATA #IMPLIED
	low CDATA #IMPLIED
	vref (5 | 4 | 3 | 2 | 1) #IMPLIED
>
<!ELEMENT string (#PCDATA | insert | test | tests )*>
<!ATTLIST string
	ref CDATA #REQUIRED
>
<!ELEMENT lookup ((item+))>
<!ATTLIST lookup
	ref CDATA #REQUIRED
>
<!ELEMENT meta EMPTY>
<!ATTLIST meta
	content CDATA #REQUIRED
	name CDATA #REQUIRED
>
<!ELEMENT localization ((head, body))>
<!ATTLIST localization
	version CDATA #FIXED "2007-1"
>
<!ELEMENT language ((lookup*, string*))>
<!ATTLIST language
	xml:lang CDATA #REQUIRED
>
<!ELEMENT item EMPTY>
<!ATTLIST item
	name CDATA #REQUIRED
	value CDATA #REQUIRED
>
<!ELEMENT insert EMPTY>
<!ATTLIST insert
	vref (5 | 4 | 3 | 2 | 1) #REQUIRED
	lref CDATA #IMPLIED
>
<!ELEMENT if ((condition+))>
<!ATTLIST if
	type (or | and | xor | nor | nand) #REQUIRED
>
<!ELEMENT head ((meta*))>
<!ELEMENT condition EMPTY>
<!ATTLIST condition
	low CDATA #IMPLIED
	high CDATA #IMPLIED
	vref (5 | 4 | 3 | 2 | 1) #REQUIRED
>
<!ELEMENT body (language+)>
